trigger: none

pool: todo-app-infra

stages:

  # ---------------------------------------------------------
  # 1) SONARQUBE SCAN
  # ---------------------------------------------------------
  - stage: SonarQubeScan
    displayName: Code scan
    jobs:
      - job: SonarQubeScan
        steps:
          - checkout: self
            fetchDepth: 0
            clean: true
            
          - task: SonarQubePrepare@8
            inputs:
              SonarQube: 'todo_app'
              scannerMode: 'cli'
              configMode: 'manual'
              cliProjectKey: 'UImonolitics'
              cliProjectName: 'UImonolitics'
              cliProjectVersion: '1.0.1'
              cliSources: '.'
              extraProperties: |
                sonar.sourceEncoding=UTF-8
                sonar.projectVersion=1.0
        

          - task: SonarQubeAnalyze@8
            inputs:
              jdkversion: 'JAVA_HOME_17_X64'

          - task: SonarQubePublish@8
            inputs:
              pollingTimeoutSec: '300'
  # ---------------------------------------------------------
  # 2) BUILD & PUSH REACT APP AS UNIVERSAL PACKAGE
  # ---------------------------------------------------------
  - stage: BuildPush
    displayName: Build and push to artifacts
    dependsOn: SonarQubeScan
    jobs:
      - job: BuildPush
        steps:

        # Install dependencies
        - task: Npm@1
          inputs:
            command: 'install'

        # Build React app
        - task: Npm@1
          inputs:
            command: 'custom'
            customCommand: 'run build'

        # Copy React build output into artifact staging folder
        - task: CopyFiles@2
          inputs:
            SourceFolder: '$(System.DefaultWorkingDirectory)/build'
            Contents: '**'
            TargetFolder: '$(Build.ArtifactStagingDirectory)'

        # Publish Universal Package
        - task: UniversalPackages@0
          inputs:
            command: 'publish'
            publishDirectory: '$(Build.ArtifactStagingDirectory)'
            feedsToUsePublish: 'internal'
            vstsFeedPublish: '035a95b4-dafe-44e4-b169-95541a48edd1/fef00941-e798-49e9-bf86-fa272ce113cd'
            vstsFeedPackagePublish: 'todo'
            versionOption: 'custom'
            versionPublish: '1.0.1'
  # ---------------------------------------------------------
  # 3) RELEASE TO VM 
  # ---------------------------------------------------------
  - stage: Release
    displayName: Release the application
    dependsOn: BuildPush
    jobs:
      - job: Release
        steps:

        # Download Universal Package from Azure Artifacts
        - task: UniversalPackages@0
          inputs:
            command: 'download'
            downloadDirectory: '$(Build.ArtifactStagingDirectory)'
            feedsToUse: 'internal'
            vstsFeed: '035a95b4-dafe-44e4-b169-95541a48edd1/fef00941-e798-49e9-bf86-fa272ce113cd'
            vstsFeedPackage: 'todo'
            vstsPackageVersion: '1.0.1'

        # Copy files to VM /home/adminuser folder
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'vmlogin'
            sourceFolder: '$(Build.ArtifactStagingDirectory)'
            contents: '**'
            targetFolder: '/home/adminuser/app'
            readyTimeout: '20000'
        # Move to web root with permissions
        - task: SSH@0
          inputs:
            sshEndpoint: 'vmlogin'
            runOptions: 'commands'
            commands: |
              sudo rm -rf /var/www/html/*
              sudo cp -r /home/adminuser/app/* /var/www/html/
              sudo chown -R www-data:www-data /var/www/html
              sudo chmod -R 755 /var/www/html
            readyTimeout: '20000'
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'vmlogin'
            sourceFolder: '$(Build.ArtifactStagingDirectory)'
            contents: '**'
            targetFolder: '/home/adminuser/app'
            readyTimeout: '20000'
        
